<div class="domino-layout">

    <div> 
        <button ng-click="vm.degree = vm.degree - 90">  Rotate counter clock-wise </button>
        <button ng-click="vm.updateFaces()"> New dominos </button>
        <button ng-click="vm.degree = vm.degree + 90"> Rotate clock-wise </button>
    </div>
    
    
    <div class="domino-wrapper">
        <div rotate="vm.degree" class="domino">
            <div class="domino-part" change-domino-face="vm.topPartOfDomino">
            </div>
            <div class="domino-part" change-domino-face="vm.bottomPartOfDomino">
            </div>
        </div>
    </div>

    <div class="domino-controls">
        <div class="control" >
            <label for="size"> Size </label>
            <input name="size" type="range" ng-model="vm.size" ng-change="vm.changeSize()" min="50" max="100">
        </div>
        <div class="control">
            <label for="size"> Speed </label>
            <input name="speed" type="range" ng-model="vm.speed" ng-change="vm.changeSpeed()" min="0" max="80">
        </div>
    </div>
</div>