<div >
    <div> 
        <button ng-click="vm.degree = vm.degree - 90"> Rotate counter clock-wise </button>
        <button > New dominos </button>
        <button ng-click="vm.degree = vm.degree + 90"> Rotate clock-wise </button>
    </div>
    <div class="domino-wrapper">
        <div rotate="vm.degree" change-size="vm.size"  change-rotation-speed="vm.speed" class="domino">
            <div class="domino-part">
                h
            </div>
            <div class="domino-part">
                l
            </div>
        </div>
    </div>
    <div class="domino-controls">
        <label for="size"> size </label>
        <input name="size" type="range" ng-model="vm.size" min="40" max="100">
        <label for="size"> speed </label>
        <input name="speed" type="range" ng-model="vm.speed" min="40" max="100">
    </div>
    <pre> 
        {{ vm | json}}
    </pre>
</div>